#filter_sorting{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 95vh;
    /* bottom: 0%; */
    /* border: solid; */
    left: 50%;
    background-color: rgb(245,245,245);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    gap: 2%;
}

#filter_sorting > select{
  height: 70%;
  width: 15%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  border: 1px solid;
}